In [1]:
import numpy 
import pandas as pd
import os 
import glob
from tqdm import tqdm

# Task1 : 데이터 셋 200,000 건 씩 나누기

In [3]:
glob.glob('G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\*.xlsx')

['G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok150.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok300.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok450.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok600.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok750.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok900.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1050.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1200.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1350.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1500.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1650.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1800.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok1950.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok2100.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok2250.xlsx',
 'G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본\\Thailand_company_list_bangkok2400.xlsx']

In [4]:
os.chdir('G:\\공유 드라이브\\BDC\\태국일반정보추가\\원본')

In [5]:
os.listdir()

['Thailand_company_list_bangkok150.xlsx',
 'Thailand_company_list_bangkok300.xlsx',
 'Thailand_company_list_bangkok450.xlsx',
 'Thailand_company_list_bangkok600.xlsx',
 'Thailand_company_list_bangkok750.xlsx',
 'Thailand_company_list_bangkok900.xlsx',
 'Thailand_company_list_bangkok1050.xlsx',
 'Thailand_company_list_bangkok1200.xlsx',
 'Thailand_company_list_bangkok1350.xlsx',
 'Thailand_company_list_bangkok1500.xlsx',
 'Thailand_company_list_bangkok1650.xlsx',
 'Thailand_company_list_bangkok1800.xlsx',
 'Thailand_company_list_bangkok1950.xlsx',
 'Thailand_company_list_bangkok2100.xlsx',
 'Thailand_company_list_bangkok2250.xlsx',
 'Thailand_company_list_bangkok2400.xlsx']

In [6]:
residual_df = pd.DataFrame()

for file in tqdm(os.listdir()) : 
    
    #df1은 가지고 오는 데이터
    df1 = pd.read_excel(file) 
    
    len_data = len(df1)
    
    if len_data > 200000 : 
        
        # 데이터 길이 계산 
        몫, 나머지 = divmod(len_data, 200000)
        
        for i in tqdm(range(몫)) : 
            df200000 = df1.iloc[200000*i:200000*(i+1)]
            df200000.to_excel('G:\\공유 드라이브\\BDC\\태국일반정보추가\\전처리\\'+str(file)[:-5]+'_'+str(i)+'.xlsx', index = False)
            
        residual_df = residual_df.append(df1.iloc[200000*몫: ], ignore_index=True) 
        
        # 램 용량 확보를 위해 
        del df1
        del df200000
        
        len_residual = len(residual_df)
            
        if len_residual > 200000 : 
            # residual_df 길이 계산 
            몫_resid, 나머지_resid = divmod(len_residual, 200000)

            # residual이 많은 경우, 저장해야 한다. 

            for j in tqdm(range(몫_resid)) : 
                df200000_resid = residual_df.iloc[200000*j:200000*(j+1)]
                df200000_resid.to_excel('G:\\공유 드라이브\\BDC\\태국일반정보추가\\전처리\\'+str(file)[:-5]+'_'+'resid'+'.xlsx', index = False)

            residual_df.drop(range(몫_resid*200000), inplace = True)
                
                
            

    if len_data < 200000 : 
        residual_df = residual_df.append(df1, ignore_index = True)

100%|██████████████████████████████████████████████████████████████████████████████████| 16/16 [00:10<00:00,  1.52it/s]

In [12]:
len_residual = len(residual_df)

if len_residual > 200000 : 
            # residual_df 길이 계산 
            몫_resid, 나머지_resid = divmod(len_residual, 200000)

            # residual이 많은 경우, 저장해야 한다. 

            for j in tqdm(range(몫_resid)) : 
                df200000_resid = residual_df.iloc[200000*j:200000*(j+1)]
                df200000_resid.to_excel('G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리\\'+str(file)[:-5]+'_'+'resid'+'.xlsx', index = False)

            residual_df.drop(range(몫_resid*200000), inplace = True)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:58<00:00, 58.34s/it]

In [7]:
residual_df.to_excel('G:\\공유 드라이브\\BDC\\태국일반정보추가\\전처리\\'+'통합'+'.xlsx', index = False)

# Task2 데이터 형식 맞추기, 세부사항 검토

채워야할 내용 
- 헤브론스타국가코드 varchar(3) : 'MYS'
- 현지언어국가명 varchar(40) : 'Malaysia'


검수해야할 내용 
- 영문기업소개내용 varchar(400)
- 기업대표전화번화 varchar(40)
- 대표이메일 varchar(40)
- 영문기업명 varchar(100)   한자가 들어가 있는지는 어떻게 알지?
- 기업홈페이지url varchar(700)
- 영문산업군명 varchar(100) 
- 영문기업상세주소 varchar(200)
- 영문기업주소 varchar(200) : 시, 도/주, 국가 기업 상세주소에서 분리하여 넣기 
- 우편번호 varchar(12) : 영문기업상세주소에서 추출하여 채워넣기 

지워야할 내용 
- 담당자이메일주소
- 담당자명

In [207]:
testdf1 = pd.read_excel('G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리(데이터스플릿)\\말레이시아통합_200_0.xlsx')

In [208]:
# 채워야할 내용 채우기 
testdf1['헤브론스타국가코드'] = 'MYS'
testdf1['영문국가명'] = 'Malaysia'

In [209]:
testdf1['영문기업상세주소']

0         Suite D21, 2nd Floor, Block D, Plaza Pekelilin...
1         22 Jalan 2/109E, Desa Business Park, Taman Des...
2         Wisma Lim Kim Chuan, Lot 50A, Section 92A, 3 1...
3         Unit No 50-2-1, Level 2 Wisma UOA Damansara, N...
4          Bukit Bintang, Jelan Bedara 12/B3, , 50200, K...
                                ...
199995    41, Lor. Burung Tekukur 5, Taman Bukit Maluri,...
199996    20-1B, Jalan Pandan 2/1, Pandan Jaya, WP Kuala...
199997    36-1, Jalan Manis 3, Taman Segar, Cheras, WP K...
199998    Ste 801-802, 8Th Floor, Wis. Hamzah Kwong Hing...
199999    10-1B, Jalan Pandan 2/1, Pandan Jaya, WP Kuala...
Name: 영문기업상세주소, Length: 200000, dtype: object

In [210]:
# 우편번호 추출 : 숫자가연속으로 5번이상 쓰여진것만 추출 
testdf1['기업우편번호'] = testdf1['영문기업상세주소'].str.extract(r'(\d\d\d\d\d)')

# 우편번호 추출후 상세주소에서 우편번호 제거
testdf1['영문기업상세주소'] = testdf1['영문기업상세주소'].str.replace(r'\d\d\d\d\d|\d\d\d\d\d,', '')

C:\Users\user\AppData\Local\Temp/ipykernel_14280/2098656625.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  testdf1['영문기업상세주소'] = testdf1['영문기업상세주소'].str.replace(r'\d\d\d\d\d|\d\d\d\d\d,', '')

In [211]:
# 우편번호 추출로 생성되는 의미없는 쉼표들 제거 
testdf1['영문기업상세주소'] = testdf1['영문기업상세주소'].str.replace(', ,' , ',')

In [212]:
# 영문기업상세주소에서 영문기업주소만 추출
# 알고리즘 : 쉼표로 구분된 주소에서 끝 세 요소 들을 영문기업주소로 넣음. (도시, 국가, 주)
# 값이 잘 들어가는 케이스가 대부분이지만, 안들어가는 경우가 있을 수 없음. 

testdf1['영문기업주소'] = testdf1['영문기업상세주소'].str.split(",").str[-3:]

In [213]:
# 영문기업상세주소에서 영문기업주소 요소를 제거. 
testdf1['영문기업상세주소'] = testdf1['영문기업상세주소'].str.split(",").str[:-3]

In [214]:
# 리스트로 들어간 영문기업상세주소를 문자로 변환 
testdf1['영문기업상세주소']=testdf1['영문기업상세주소'].map(lambda x : str(x))
testdf1['영문기업상세주소']=testdf1['영문기업상세주소'].str.replace('[', '')
testdf1['영문기업상세주소']=testdf1['영문기업상세주소'].str.replace(']', '')
testdf1['영문기업상세주소'] = testdf1['영문기업상세주소'].str.replace("'","")

C:\Users\user\AppData\Local\Temp/ipykernel_14280/3088374968.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문기업상세주소']=testdf1['영문기업상세주소'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_14280/3088374968.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문기업상세주소']=testdf1['영문기업상세주소'].str.replace(']', '')

In [215]:
# 리스트로 들어간 영문기업주소를 문자로 변환 
testdf1['영문기업주소']=testdf1['영문기업주소'].map(lambda x : str(x))
testdf1['영문기업주소']=testdf1['영문기업주소'].str.replace('[', '')
testdf1['영문기업주소']=testdf1['영문기업주소'].str.replace(']', '')
testdf1['영문기업주소'] = testdf1['영문기업주소'].str.replace("'","")

C:\Users\user\AppData\Local\Temp/ipykernel_14280/166794711.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문기업주소']=testdf1['영문기업주소'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_14280/166794711.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문기업주소']=testdf1['영문기업주소'].str.replace(']', '')

In [216]:
testdf1['영문기업주소']

0             Kuala Lumpur,  Wilayah Persekutuan,  Malaysia
1             Malaysia,  Kuala Lumpur,  Wilayah Persekutuan
2          Wilayah Persekutuan  Malaysia,  Kuala Lumpur,...
3            Kuala Lumpur,  Wilayah Persekutuan,  Malaysia
4                               ,  Kuala Lumpur,  Malaysia
                                ...
199995            WP Kuala Lumpur,  Kuala Lumpur,  Malaysia
199996            WP Kuala Lumpur,  Kuala Lumpur,  Malaysia
199997            WP Kuala Lumpur,  Kuala Lumpur,  Malaysia
199998            WP Kuala Lumpur,  Kuala Lumpur,  Malaysia
199999            WP Kuala Lumpur,  Kuala Lumpur,  Malaysia
Name: 영문기업주소, Length: 200000, dtype: object

# Task3 :데이터 검수

In [217]:
# 영문산업군명이 너무 길기 때문에, /로 나뉜 것들 중 앞의 두개 만을 산업군명으로 가져옴 
testdf1['영문산업군명'] = testdf1['영문산업군명'].str.split("/").str[:2]

# 리스트로 들어간 영문산업군명을 문자로 변환 
testdf1['영문산업군명']=testdf1['영문산업군명'].map(lambda x : str(x))
testdf1['영문산업군명']=testdf1['영문산업군명'].str.replace('[', '')
testdf1['영문산업군명']=testdf1['영문산업군명'].str.replace(']', '')
testdf1['영문산업군명'] = testdf1['영문산업군명'].str.replace("'","")

C:\Users\user\AppData\Local\Temp/ipykernel_14280/3020516999.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문산업군명']=testdf1['영문산업군명'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_14280/3020516999.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  testdf1['영문산업군명']=testdf1['영문산업군명'].str.replace(']', '')

In [218]:
# 그리고 
for i in range(len(testdf1)) : 
     if 100 < len(testdf1.loc[i,'영문산업군명']) : 
            testdf1.loc[i,'영문산업군명'] = testdf1.loc[i,'영문산업군명'].split(",")[0]
            testdf1.loc[i,'영문산업군명'] = testdf1.loc[i,'영문산업군명'].replace('[', '')
            testdf1.loc[i,'영문산업군명'] = testdf1.loc[i,'영문산업군명'].replace(']', '')
            testdf1.loc[i,'영문산업군명'] = testdf1.loc[i,'영문산업군명'].replace("'","")

In [180]:
testdf1['영문산업군명']

0         Manufacturing & IndustryManufacturing & Indust...
1         ServicesServices ,  General Office ServicesSer...
2                     ServicesServices ,  General Business
3         Finances & InsuranceFinances & Insurance ,  Fi...
4         Computers & InternetComputers & Internet ,  We...
                                ...
199995    Tradesmen & ConstructionTradesmen & Constructi...
199996    Transport & MotoringTransport & Motoring ,  Ve...
199997                ShoppingShopping ,  Electrical Goods
199998                ShoppingShopping ,  Electrical Goods
199999                ShoppingShopping ,  Electrical Goods
Name: 영문산업군명, Length: 200000, dtype: object

In [229]:
testdf1['영문기업명']

0                  Infrastructure Builders Sdn Bhd
1                                 Infostar Sdn Bhd
2                  INTERACTIVE PUBLICATION SDN BHD
3          Intelligent Money Sdn. Bhd. (iMoney.my)
4                         IT LEVEL (Createaweb.my)
                            ...
199995            TAN CHIN CHOO HOLDINGS SDN. BHD.
199996    TANAIRCON ENGINEERING (SUBANG) SDN. BHD.
199997                     TANIA TRADING SDN. BHD.
199998                   TANDING SENTOSA SDN. BHD.
199999          TANJUNG REKA DEVELOPMENT SDN. BHD.
Name: 영문기업명, Length: 200000, dtype: object

# Task4 : Task1,2,3 과정 통합 및 자동화

In [9]:
# 파일들을 가져올 디렉토리 
os.chdir('G:\\공유 드라이브\\BDC\\태국일반정보추가\\전처리')

In [10]:
for file in tqdm(os.listdir()) : 
    df = pd.read_excel(file)
    
    # 채워야할 내용 채우기 
    df['헤브론스타국가코드'] = 'THA'
    df['영문국가명'] = 'Thailand'
    
    # 우편번호 추출 : 숫자가연속으로 5번이상 쓰여진것만 추출 
    df['기업우편번호'] = df['영문기업상세주소'].str.extract(r'(\d\d\d\d\d)')

    # 우편번호 추출후 상세주소에서 우편번호 제거
    df['영문기업상세주소'] = df['영문기업상세주소'].str.replace(r'\d\d\d\d\d|\d\d\d\d\d,', '')
    
    # 우편번호 추출로 생성되는 의미없는 쉼표들 제거 
    df['영문기업상세주소'] = df['영문기업상세주소'].str.replace(', ,' , ',')
    
    # 영문기업상세주소에서 영문기업주소만 추출
    # 알고리즘 : 쉼표로 구분된 주소에서 끝 세 요소 들을 영문기업주소로 넣음. (도시, 국가, 주)
    # 값이 잘 들어가는 케이스가 대부분이지만, 안들어가는 경우가 있을 수 없음. 

    df['영문기업주소'] = df['영문기업상세주소'].str.split(",").str[-3:]
    
    # 영문기업상세주소에서 중복되는영문기업주소 요소를 제거. 
    df['영문기업상세주소'] = df['영문기업상세주소'].str.split(",").str[:-3]
    
    
    # 리스트로 들어간 영문기업상세주소를 문자로 변환 
    df['영문기업상세주소']=df['영문기업상세주소'].map(lambda x : str(x))
    df['영문기업상세주소']=df['영문기업상세주소'].str.replace('[', '')
    df['영문기업상세주소']=df['영문기업상세주소'].str.replace(']', '')
    df['영문기업상세주소'] = df['영문기업상세주소'].str.replace("'","")
    
    # 리스트로 들어간 영문기업주소를 문자로 변환 
    df['영문기업주소']=df['영문기업주소'].map(lambda x : str(x))
    df['영문기업주소']=df['영문기업주소'].str.replace('[', '')
    df['영문기업주소']=df['영문기업주소'].str.replace(']', '')
    df['영문기업주소'] = df['영문기업주소'].str.replace("'","")
    
    # 영문산업군명이 너무 길기 때문에, /로 나뉜 것들 중 앞의 두개 만을 산업군명으로 가져옴 
    df['영문산업군명'] = df['영문산업군명'].str.split("/").str[:2]

    # 리스트로 들어간 영문산업군명을 문자로 변환 
    df['영문산업군명']=df['영문산업군명'].map(lambda x : str(x))
    df['영문산업군명']=df['영문산업군명'].str.replace('[', '')
    df['영문산업군명']=df['영문산업군명'].str.replace(']', '')
    df['영문산업군명'] = df['영문산업군명'].str.replace("'","")
    
    
    # 영문산업군명의 길이는 varchar(100) 이기 때문에, 특별히 검수를 하고 조건에 맞지 않는 데이터는 조금 더 잘라낸다. 
    for i in range(len(df)) : 
         if 100 < len(df.loc[i,'영문산업군명']) : 
            df.loc[i,'영문산업군명'] = df.loc[i,'영문산업군명'].split(",")[0]
            df.loc[i,'영문산업군명'] = df.loc[i,'영문산업군명'].replace('[', '')
            df.loc[i,'영문산업군명'] = df.loc[i,'영문산업군명'].replace(']', '')
            df.loc[i,'영문산업군명'] = df.loc[i,'영문산업군명'].replace("'","")
            
    # 영문기업명 100자 초과 여부 확인, 검수. 
    for i in range(len(df)) : 
        try :
            if 100 < len(df.loc[i,'영문기업명']) :  
                df.loc[i,'영문기업명'] = df.loc[i,'영문기업명'][:100]
                print(f'기업명초과에러 발생 {i}th row, 파일 이름 : {file}')
                
        except : 
            print(f'기업명에러 발생, 기업명 null값 {i}th row, 파일 이름 : {file}')
            continue 

                
    df.to_excel('G:\\공유 드라이브\\BDC\\태국일반정보추가\\전처리\\'+str(file)[:-5] + '_processed.xlsx', index = False)

  0%|                                                                                            | 0/1 [00:00<?, ?it/s]C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df['영문기업상세주소'] = df['영문기업상세주소'].str.replace(r'\d\d\d\d\d|\d\d\d\d\d,', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문기업상세주소']=df['영문기업상세주소'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문기업상세주소']=df['영문기업상세주소'].str.replace(']', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:35: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문기업주소']=df['영문기업주소'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:36: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문기업주소']=df['영문기업주소'].str.replace(']', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:44: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문산업군명']=df['영문산업군명'].str.replace('[', '')
C:\Users\user\AppData\Local\Temp/ipykernel_19280/4108999873.py:45: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['영문산업군명']=df['영문산업군명'].str.replace(']', '')

기업명에러 발생, 기업명 null값 1147th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 30231th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 30675th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 50177th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 50192th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 54088th row, 파일 이름 : 통합.xlsx
기업명에러 발생, 기업명 null값 68430th row, 파일 이름 : 통합.xlsx

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:40<00:00, 40.85s/it]

완성된 데이터들 중에서 기업명이 없는 케이스들이 발견되어, 이를 제거한다.

In [270]:
wrong_datasets = ['G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리(검수완료)말레이시아통합_200_0_processed.xlsx',
                 'G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리(검수완료)말레이시아통합_3200_1_processed.xlsx']
for dataset in wrong_datasets : 
    nulldata = pd.read_excel(dataset)
    nulldata=nulldata.dropna(subset=['영문기업명'])
    nulldata.to_excel(dataset, index = False)

In [271]:
nulldata.columns

Index(['키값', '헤브론스타국가코드', '현지언어국가명', '영문국가명', '국가언어코드값', '현지언어언어명', '영문언어명',
       '현지언어기업명', '영문기업명', '현지언어한줄소개내용', '현지언어기업소개내용', '영문한줄소개내용', '영문기업소개내용',
       '현지언어대표이사명', '영문대표이사명', '기업대표전화번호', '대표팩스번호', '대표이메일', '기업홈페이지URL',
       '페이스북URL', '인스타그램URL', '유튜브URL', '링크드인URL', '현지언어담당자명', '영문담당자명',
       '현지언어직위명', '영문직위명', '담당자부서명', '기업담당자전화번호', '담당자이메일', '담당자팩스번호',
       '기업담당자이동전화번호', '현지언어기업주소', '현지언어기업상세주소', '영문기업주소', '영문기업상세주소', '기업우편번호',
       '현지언어산업군명', '영문산업군명', '현지언어주요제품내용', '영문주요제품내용', '설립일자', '기업종업원값',
       '외감법인구분값', '매출년도값', '매출액값', '기본화폐키값', '화폐단위명', '주식시장코드', '현지언어주식시장명',
       '영문주식시장명', '상장코드', '상장일자', '기업추가정보값', '작업구분코드', '데이터생성일자', '연계처리상태코드',
       '연계처리일자'],
      dtype='object')

추가적으로, 개인정보를 제거한다. 개인정보에 해당하는 칼럼은 '영문담당자명' 이다.

In [274]:
os.chdir('G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리최종(검수완료)')

In [278]:
import numpy as np
np.nan

nan

In [281]:
file

'전처리(검수완료)말레이시아통합_200_0_processed.xlsx'

In [ ]:
# 영문담당자명을 null값으로 변경ㅎ
for file in tqdm(os.listdir()) : 
    dataset = pd.read_excel(file)
    dataset['영문담당자명'] = np.nan
    dataset.to_excel('G:\\공유 드라이브\\BDC\\말레이시아기업일반정보추가\\전처리최종(검수완료,개인정보제거)\\'+'전처리최종(검수완료,개인정보제거)'+str(file)[10:], index = False)

 15%|███████████▊                                                                    | 13/88 [18:00<1:43:34, 82.86s/it]

In [269]:
len(nulldata)

199994

In [1]:
455 * 150

68250