In [40]:
import pandas as pd
import os
import time
import pyexcel as px
from tqdm import tqdm
import pyexcel_xlsx

In [11]:
!pip install pyexcel

Collecting pyexcel
  Downloading pyexcel-0.6.7-py2.py3-none-any.whl (88 kB)
Collecting texttable>=0.8.2
  Downloading texttable-1.6.4-py2.py3-none-any.whl (10 kB)
Collecting lml>=0.0.4
  Downloading lml-0.1.0-py2.py3-none-any.whl (10 kB)
Collecting chardet
  Downloading chardet-4.0.0-py2.py3-none-any.whl (178 kB)
Collecting pyexcel-io>=0.6.2
  Downloading pyexcel_io-0.6.6-py2.py3-none-any.whl (44 kB)
Installing collected packages: lml, texttable, pyexcel-io, chardet, pyexcel
Successfully installed chardet-4.0.0 lml-0.1.0 pyexcel-0.6.7 pyexcel-io-0.6.6 texttable-1.6.4

In [13]:
os.chdir('G:\공유 드라이브\BDC\동남아일반정보추가')

In [14]:
os.getcwd()

'G:\\공유 드라이브\\BDC\\동남아일반정보추가'

In [73]:
import shutil

In [80]:
len(os.listdir('G:/공유 드라이브/BDC/말레이통합3'))

600

In [90]:
len(glob.glob('G:/공유 드라이브/BDC/말레이통합2/*.xlsx'))

600

In [95]:
import pandas as pd  
import numpy as np  
import glob  
import sys

#파일 Union  
all_data = pd.DataFrame()  

for iter_num,f in enumerate(tqdm(glob.glob('G:/공유 드라이브/BDC/말레이통합/*.xlsx'))): # 예를들어 201901, 201902 로 된 파일이면 2019_*  
    df = pd.read_excel(f)  
    all_data = all_data.append(df, ignore_index=True)
    
    if (iter_num % 200 == 0) or (iter_num==7291) : 
        all_data.to_excel('G:\\공유 드라이브\\BDC\말레이통합7\\말레이시아통합_'+str(iter_num)+'.xlsx', index=False)
        
        del all_data
        
        all_data = pd.DataFrame()

100%|████████████████████████████████████████████████████████████████████████████████| 601/601 [12:31<00:00,  1.25s/it]

In [96]:
all_data

Empty DataFrame
Columns: []
Index: []

In [97]:
all_data.to_excel('G:\\공유 드라이브\\BDC\말레이통합7\\말레이시아통합_'+str(iter_num)+'.xlsx', index=False)